body{
    font-family: arial;
    background-color: rgb(230, 229, 229);
}

h1{
    color: rgb(53, 158, 250);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 0%,0.3) ;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.822);
    border-radius: 4px ;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: red;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(236, 65, 65);
}
#result{
    font-size:1.75em;
    font-weight: bold;

}