body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#myH1{
    font-size: 4rem;
    color: black;


}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid;
    border-radius: 15px;
    
}
#display{
    color: rgb(39, 38, 38);
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(120, 113, 113);
    margin-bottom: 25 px;


}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125 px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5 ease;
}

#startBtn{
    background-color: green;

}
#startBtn:hover{
    background-color: rgb(9, 175, 9);
    
}
#stopBtn{
    background-color: rgb(230, 13, 13);

}
#stopBtn:hover{
    background-color: rgba(220, 9, 9, 0.63);
    
}
#resetBtn{
    background-color: rgb(64, 13, 216);

}
#resetBtn:hover{
    background-color: rgba(24, 15, 199, 0.603);
    
}